$clr-navydark: #011827;
$clr-blue: #36769d;
$clr-blue-bright: #8acfe5;
$clr-grey: #b6bdb5;
$clr-red: #e3170a;

$font: system-ui, -apple-system, "Segoe UI", Robot, Ubuntu, "Helvetica Neue",
  Arial, sans-sarif;

$fs-100: 0.75rem;
$fs-200: 1rem;
$fs-300: 1.25rem;
$fs-400: 1.5rem;
$fs-450: 1.75rem;
$fs-500: 2rem;

$radius: 0.25rem;
$radius-round: 0.5rem;
$container: 72rem;
$gap: 1rem;

$bp-md: 48rem;
$bp-lg: 64rem;
$bp-xl: 72rem;
