@use "../tokens" as t;
@use "../mixins" as m;
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden;
  clip: rect(0 0 0 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.reviews {
  text-align: center;
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.25rem;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    @include m.mq(t.$bp-lg) {
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
      margin: 5rem 5rem 5rem 5rem;
      margin-inline: auto;
      max-width: 55rem;
    }
  }
}

.review-card {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 0.5rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 36rem;
  width: 100%;
  margin-inline: auto;
  margin: 3rem auto 0;

  &__avatar {
    grid-row: 1 / span 2;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    object-fit: cover;
    margin-top: 0.1rem;
  }
  &__quote {
    line-height: 1.4;
    margin: 0;
    font-style: italic;
    color: #333;
    text-align: left;
  }
  &__meta {
    margin: 0.25rem 0 0;
    color: #333;
    font-size: t.$fs-100;
    text-align: left;
  }
}
.review-card.reviews__item-2 {
  display: none;
}
@include m.mq(t.$bp-lg) {
  .review-card.reviews__item-2 {
    display: grid;
  }
}
